@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120deg, #FEFEFE, #888888);
}

h2 {
    color: #D4D4D2;
}

h1 {
    margin-block-start: 0em;
    color: #FFFFFF;
}

.area {
    display: flex;
    justify-content: center;
}

.container {
    background-color: #1C1C1C;
    display: inline-flex;
    padding: 1.5em;
    border-radius: 0.5em;
    flex-direction: column;
    align-items: center;
    width: 20em;
}

.input_area {
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

.input {
    height: 1.5em;
}

.button_calculate {
    height: 3em;
    width: 100%;
    background-color: #FF9500;
    border: none;
    color: #FFFFFF;
    border-radius: 0.2em;
    margin: 0.4em 0em;
    transition: all 300ms ease;
} 

.button_clean {
    height: 3em;
    width: 100%;
    background-color: #FF9500;
    border: none;
    color: #000000;
    border-radius: 0.2em;
    margin: 0.4em 0em;
    background-color: #adadab;
    transition: all 300ms ease;
}


.button_calculate:hover {
    cursor: pointer;
    background-color: #f8ad4a;  
}

.button_clean:hover {
    cursor: pointer;
    background-color: #dfdfdbda;
}

textarea {
    width: 100%;
    font-size: 1.2em;
    margin-top: 1.5em;
    border-radius: 0.2em;
    font-weight: bold;
}
